.header{
    height: 60px;
    display: flex;
    flex-direction: row;
}

.left-section{
    width: 380px;
    display: flex;
    align-items: center;
}

.edu-kate{
    font-family: arial;
    font-size: 22px;
    font-weight: 700;
    color: blue;
    margin-left: 8%;
}

.middle-section{
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    margin-left: 75px;
}

.right-section{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-d{
    color: blue;
}

.join-button{
    margin-left: 60%;
    background-color: blue;
    color: white;
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.background-picture{
    position: relative;
}

.back-pic{
    width: 100%;
    height: 100%;
}

.color{
    background-color: rgba(25, 25, 161, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
}

.course-text{
    color: white;
    font-family: roboto, arial;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 0;
}

.home-text{
    color: white;
    font-family: times new roman;
    font-size: 12px;
    text-align: center;
}

.search-bar{
    font-family: times new roman;
    text-align: center;
    margin-top: 3%;
}

.course-button{
    height: 38px;
    width: 8%;
}

.keyword{
    height: 34px;
    width: 17%;
    margin-left: -5px;
    margin-right: -5px;
    border-width: 1px;
    border-style: solid;
}

.search-button{
    height: 38px;
    width: 8%;
    background-color: rgb(235, 11, 11);
    border: none;
    color: white;
}

.middle-container{
    height: 150vh;
    display: flex;
    flex-direction: row;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10%;
}

.left-side{
    width: 70%;
}

.course-detail{
    font-family: arial;
    font-size: 11px;
    font-weight: 700;
}

.course-detail-span{
    color: rgb(221, 20, 20);
    text-decoration: underline;
}

.web-design-text{
    font-family: arial;
    font-size: 48px;
    width: 80%;
    margin-top: 0;
}

.four-women{
    width: 100%;
}

.text-1-container{
    width: 95%;
}

.right-side{
    width: 30%;
    background-color: rgb(15, 15, 219);
    margin-left: 2%;
}

.course-feature{
    color: white;
    font-family: arial;
    font-size: 28px;
    margin-left: 6%;
}

.instructor-container{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;

}

.instructor{
    color: white;
}

.ins{
    margin-left: 6%;
    margin-right: 50%;
}

.rating-container{
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.rate{
    margin-left: 6%;
    margin-right: 59%;
}

.num45{
    font-size: small;
}

.lectures-container{
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.lect{
    margin-left: 6%;
    margin-right: 65%;
}

.duration-container{
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.dura{
    margin-left: 6%;
    margin-right: 52%;
}

.skill-level-container{
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.skill-level{
    margin-left: 6%;
    margin-right: 52%;
}

.language-container{
    color: white;
}

.language{
    margin-left: 6%;
    margin-right: 55%;
}

.course-price-container{
    color: white;
}

.course-p{
    font-family: arial;
    font-size: 20px;
    margin-left: 6%;
    margin-top: 12%;
}

.enroll-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.enroll{
    background-color: red;
    color: white;
    border: none;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 33%;
    padding-right: 33%;
    cursor: pointer;
}

.enroll:hover{
    opacity: 0.9;
}

.enroll:active{
    opacity: 0.6;
}

.cat-con{
    background-color: white;
    height: 67.3vh;
}

.categories-container{
    padding-top:5%;
}

.cate{
    font-family: arial;
    font-size: 26px;
    font-weight: bold;
}

.web-design-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(194, 194, 194);
}

.web-d{
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.num150-button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
}

.web-development-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(194, 194, 194);
}

.web-dev{
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.num131-button{
background-color: blue;
color: white;
border: none;
border-radius: 10px;
}

.online-marketing-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(194, 194, 194);
}

.online-mark{
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    color: rgb(8, 8, 119);
}

.num78-button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
}

.keyword-research-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(194, 194, 194);
}

.keyword-re{
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.num56-button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
}

.email-marketing-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-mark{
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.num98-button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
}

.down-section{
    height: 80vh;
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 7%;
}

.left{
    width: 70%;
}

.related-container{
    margin-top: 2%;
    margin-left: 0;
}

.rate{
    margin-left: 0;
    font-family: arial;
    font-size: larger;
    font-weight: 700;
}

.pic2-3-container{
    display: inline-block;
    width: 45%;
    height: 65vh;
    position: relative;
    margin-left: 20px;
}

.pic2-edit{
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

.web-d-container{
    position: absolute;
    top: 65%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.web-d-edit{
    width: 50%;
    text-align: center;
    margin-left: 20%;
    font-family: arial;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.left-button{
    position: absolute;
    top: 65%;
    left: -6%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(30, 30, 194);
    color: white;
    border: none;
}

.pp{
    position: absolute;
    left: 0;
    top: 86%;
    width: 98%;
    color: white;
}

.doe-b{
    display: inline-block;
    margin-right: 44%;
    margin-left: 6%;
}

.num4{
    display: inline-block;
}

.num250{
    font-size: smaller;
}

.right-button{
   position: absolute;
    top: 65%;
    right: -6%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(30, 30, 194);
    color: white;
    border: none;
}

.right{
    width: 30%;
}

.recent-edit{
    margin-top: 0;
    margin-left: 0;
    font-family: arial;
    font-size: larger;
    font-weight: 700;
}

.mini-pic-container{
    margin-bottom: 6%;
}

.mini-pic{
    width: 20%;
    height: 12vh;
}

.web-d-d{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-left: 1%;
}

.web-d-development{
    margin-top: 7px;
    font-family: arial;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7px;
}

.jhon-d{
    margin-top: 0;
    display: inline-block;
    font-family: arial;
    font-size: 11px;
    margin-right: 10%;
    color: rgb(54, 50, 50);
}

.mini-num{
    margin-top: 0;
    display: inline-block;
    font-family: arial;
    font-size: 11px;
    color: rgb(54, 50, 50);
}

.users{
    color: blue;
}

.stars{
    color: blue;
}

.footer{
    height: 81vh;
    margin-top: 8%;
    background-color: rgb(14, 3, 14);
    display: flex;
    position: relative;
}

.footer-body{
    width: 100%;
    height: 66vh;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(19, 16, 16);
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 4%;
}

.edu-accusam{
    display: inline-block;
    width: 50%;
}

.edu-icon{
    margin-bottom: 0;
    font-family: arial;
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.accusam-text{
    margin-top: 4px;
    width: 65%;
    font-family: arial;
    font-size: 12px;
    color: rgb(192, 181, 181);
}

.newsletter-container{
    display: inline-block;
    width: 49%;
}

.news-text{
    color: white;
    font-family: arial;
    font-size: 17px;
    font-weight: 500;
}

.search-email{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 30%;
}

.sign-up-button{
    background-color: blue;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: -1%;
    border: none;
    color: white;
}

.get-our-quick{
    color: white;
    margin-top: 4%;
    display: inline-block;
    margin-right: 18%;
}

.get-text{
    font-family: arial;
    font-size: 18px;
    font-weight: 700;
}

.street, .number, .info-eg{
    font-family: arial;
    font-size: 11px;
    color: rgb(192, 181, 181);
}

.twitter, .facebook, .linkedin, .instagram{
    font-size: 18px;
    margin-right: 10px;
}

.research-d, .seo-d{
    font-family: arial;
    font-size: 11px;
    color: rgb(192, 181, 181);
}

.copy-r-d-container{
    color: white;
    position: absolute;
    top: 91%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(192, 181, 181);
    font-size: 11px;
}

.copyright-text{
    display: inline-block;
    margin-right: 20px;
    padding-left: 7%;
    margin-top: 20px;
}

.design-by-text{
    display: inline-block;
    padding-right: 7%;
    margin-top: 20px;
}

.your-site, .codex{
    color: white;
    font-family: arial;
}